@model IEnumerable<FrontEnd.API.Models.AspNetUserLogins>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>AspNetUserLogins</h1>

    <p>
        <a asp-action="Create" class="btn btn-secondary">Crear nuevo</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LoginProvider)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProviderKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProviderDisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoginProvider)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProviderKey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProviderDisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>