@model FrontEnd.API.Models.TelefonoTienda

@{
    ViewData["Title"] = "Details";
}
<div class="container">

    <h1>Detalles</h1>

    <div>
        <h4>TelefonoTienda</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Numero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdTienda)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdTienda)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdTelefono">Editar</a> |
        <a asp-action="Index">Volver a la lista de telefonos</a>
    </div>

</div>