@model IEnumerable<FrontEnd.API.Models.TelefonoTienda>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h1>Lista de telefos de tiendas</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdTienda)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTienda)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdTelefono">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdTelefono">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdTelefono">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>