@model FrontEnd.API.Models.CorreoTienda

@{
    ViewData["Title"] = "Delete";
}
<div class="container">

    <h1>Eliminar</h1>

    <h3>¿Estás seguro de que quieres eliminar esto?</h3>
    <div>
        <h4>Correo Tienda</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Correo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Correo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdTienda)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdTienda)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCorreo" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Volver a la lista de los correos de las tiendas</a>
        </form>
    </div>

</div>