@model IEnumerable<FrontEnd.API.Models.ValoracionTienda>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h1>Index</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Valoracion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comentario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdTienda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valoracion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comentario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTienda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdValoracion">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdValoracion">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>