@model FrontEnd.API.Models.UbicacionTienda

@{
    ViewData["Title"] = "Delete";
}

<div class="container">

    <h1>Eliminar</h1>

    <h3>¿Estás seguro de que quieres eliminar esto?</h3>
    <div>
        <h4>UbicacionTienda</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Provincia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Provincia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Canton)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Canton)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tiendas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tiendas.NombreTienda)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdUbicacion" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index">Volver a la lista de ubicaiones</a>
        </form>
    </div>

</div>