@model FrontEnd.API.Models.UbicacionTienda

@{
    ViewData["Title"] = "Details";
}
<div class="container">

    <h1>Detalles</h1>

    <div>
        <h4>UbicacionTienda</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Provincia)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Provincia)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Canton)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Canton)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tiendas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tiendas.NombreTienda)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdUbicacion">Editar</a> |
        <a asp-action="Index">Volver a la lista de ubicaciones</a>
    </div>

</div>