@model IEnumerable<FrontEnd.API.Models.UbicacionTienda>

@{
    ViewData["Title"] = "Index";
}

<div class="container">


    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Provincia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Canton)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tiendas)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Provincia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Canton)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tiendas.NombreTienda)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdUbicacion">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdUbicacion">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdUbicacion">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>