@model IEnumerable<FrontEnd.API.Models.UsuarioTienda>

@{
    ViewData["Title"] = "Index";
}

<div class="container">


    <h1>Lista de usuarios de las tiendas</h1>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdTienda)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTienda)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdUsuarioTienda">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdUsuarioTienda">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>