@model IEnumerable<FrontEnd.API.Models.MarcaProductos>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h1>Lista de marcas</h1>

    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MarcaProducto)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarcaProducto)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdMarca">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdMarca">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdMarca">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>